# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# firebase credentials
src/firebase.js
src/chain-surface-firebase-adminsdk-9vpe1-c831f22884.json

# icon
public/favicon.ico